<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dudu.helper3"
          android:versionCode="25"
          android:versionName="3.1" >
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />
    <!-- 访问手机文件权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 相机访问权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--打印机权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.hardware.usb.accessory" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.hardware.usb.accessory" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- buggly 升级-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--保存资源到SD卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    
    <application
        android:name="com.dudu.helper3.application.DuduHelperApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.NoTitleBar" >
        //友盟推送
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58116d51c895767ef2001a1b" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="532600bc68a08ac17bd738c8ec0a2eba" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="YingYongBao" >
        </meta-data>

        <service
            android:name="com.gprinter.service.GpPrintService"
            android:label="GpPrintService"
            android:process=":remote"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.gprinter.aidl.GpPrintService" />
            </intent-filter>
        </service>
        <activity
            android:name="com.dudu.helper3.Activity.WelcomeActivity.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" >

        </activity>
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name="com.dudu.helper3.wxapi.WXPayEntryActivity"
                  android:exported="true"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.dudu.helper3.Activity.GuestManageActivity.PayResultActivity"/>
        <activity android:name="com.dudu.helper3.Activity.RedBagActivity.EditRedbag2Activity"
                  android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
        <activity android:name=".Activity.MyInfoActivity.MsgSettingActivity"/>
        <activity
            android:name="com.dudu.helper3.Activity.CheckSellAcitivty.CashSellActivity"
            android:label="@string/title_activity_cash_sell" >
        </activity>
        <activity android:name="com.dudu.helper3.Activity.RedBagActivity.EditRedbag1Activity"/>
        <activity android:name="com.dudu.helper3.Activity.GuestManageActivity.GuestSelectActivity"/>
        <activity android:name="com.dudu.helper3.Activity.GuestManageActivity.RedbagMsgDetail"/>
        <activity
            android:name="com.example.qr_codescan.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".Activity.VipUserActivity.VipUserVertifyActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".Activity.ShopManageActivity.ShopStatusActivity"/>
        <activity android:name=".Activity.WelcomeActivity.CheckShopActivity"/>
        <activity android:name=".Activity.MyInfoActivity.ChangeShopActivity"/>
        <activity android:name=".Activity.VipUserActivity.VipUserVertifyResActivity"/>
        <activity android:name=".Activity.VipUserActivity.VipVertifyHistoryActivity"/>
        <activity android:name="com.dudu.helper3.Activity.GuestManageActivity.NewActivityMsgActivity"/>
        <activity android:name="com.dudu.helper3.Activity.GuestManageActivity.NewRedbagMsgActivity"/>
        <activity android:name="com.dudu.helper3.Activity.BigBandActivity.ShopSelectActivity"/>
        <activity
            android:name="com.dudu.helper3.Activity.CheckSellAcitivty.CashSellScanSucessActivity"
            android:label="@string/title_activity_cash_sell_scan_sucess" >
        </activity>
        <activity android:name="com.dudu.helper3.Activity.GuestManageActivity.CreateActivityMsg"/>
        <activity android:name="com.dudu.helper3.Activity.GuestManageActivity.CreateRedbagmsgActivity"/>
        <activity android:name="com.dudu.helper3.Activity.GuestManageActivity.StoreMoneyActivity"/>
        <activity
            android:name="com.dudu.helper3.Activity.CheckSellAcitivty.CashSellScanFailActivity"
            android:label="@string/title_activity_cash_sell_scan_fail" >
        </activity>
        <activity android:name="com.dudu.helper3.Activity.GuestManageActivity.SendMessageActivity"
                  android:launchMode="singleTask"/>
        <activity android:name="com.dudu.helper3.Activity.GuestManageActivity.GuestMangageActivity"/>
        <activity
            android:name="com.dudu.helper3.Activity.CheckSellAcitivty.MemberSellActivity"
            android:label="@string/title_activity_member_sell" >
        </activity>
        <activity android:name="com.dudu.helper3.Activity.CheckSellAcitivty.CheckSaleHistoryActivity"/>
        <activity android:name="com.dudu.helper3.Activity.CheckSellAcitivty.CheckSaleDetailActivity"/>
        <activity
            android:name="com.dudu.helper3.Activity.OrderActivity.ShopOrderDetailActivity"
            android:label="@string/title_activity_order_detail" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.MyInfoActivity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity android:name="com.dudu.helper3.Activity.WelcomeActivity.ForgetPasswordActivity"/>
        <activity
            android:name="com.dudu.helper3.Activity.WelcomeActivity.ForgetPwdCertifyMobileActivity"
            android:label="@string/title_activity_bind_phone" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.MyInfoActivity.ShopRebindPhoneSteponeActivity"
            android:label="@string/title_activity_rebind_phone_stepone" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.MyInfoActivity.GetCashActivity"
            android:label="@string/title_activity_get_cash" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.MyInfoActivity.GetCashHistoryListActivity"
            android:label="@string/title_activity_get_cash_history_list" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.BigBandActivity.ShopProductAddActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_activity_product_add" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.DiscountCardActivity.CouponAddActivity"
            android:label="@string/title_activity_product_add" >
        </activity>
        <activity
            android:name="org.fireking.app.imagelib.widget.PicSelectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.SummaryActivity.ShopAccountDataActivity"
            android:label="@string/title_activity_account_data" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.CheckSellAcitivty.MemberSellStepTwoActivity"
            android:label="@string/title_activity_get_cash_history_list" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.CheckSellAcitivty.MemberSellScanSucessActivity"
            android:label="@string/title_activity_product_add" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.CheckSellAcitivty.GiftSellActivity"
            android:label="@string/title_activity_gift_sell" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.CheckSellAcitivty.GiftSellScanSucessActivity"
            android:label="@string/title_activity_gift_sell" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.MyInfoActivity.ShopUserBankInfoActivity"
            android:label="@string/title_activity_user_bank_info" >
        </activity>
        <activity android:name="com.dudu.helper3.Activity.MyInfoActivity.UserBankInfoConfirmActivity" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.MyInfoActivity.UserBankSelectActivity"
            android:label="@string/title_activity_user_bank_select" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.WelcomeActivity.LoginBindPhoneActivity"
            android:label="@string/title_activity_user_bank_select" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.BigBandActivity.shopProductListActivity"
            android:launchMode="singleTask"
            android:label="@string/title_activity_product_list" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.BigBandActivity.ProductInfoEditActivity"
            android:label="@string/title_activity_product_info_edit" >
        </activity>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.WelcomeActivity.WelcomeActivity"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.WelcomeActivity.LoadingActivity"
            android:label="@string/title_activity_loading" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.OrderActivity.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.MyInfoActivity.WebPageActivity"
            android:label="@string/title_activity_web_page" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.GetMoneyActivity.ShopGetInComeCashActivity"
            android:label="@string/title_activity_get_in_come_cash" >
        </activity>
        <activity android:name="com.dudu.helper3.Activity.RedBagActivity.RedBagList"/>
        <activity
            android:name="com.dudu.helper3.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/title_activity_get_in_come_cash_code_image" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.CashHistoryActivity.GetInComeActivity"
            android:label="@string/title_activity_get_in_come" >
        </activity>

        <activity
            android:name="com.dudu.helper3.Activity.PrinterActivity.ShopSearchBlueToothActivity"
            android:label="@string/title_activity_search_blue_tooth" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.DiscountCardActivity.ShopCouponDetailActivity"
            android:label="@string/title_activity_coupon_detail" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.DiscountCardActivity.CouponSellHistoryActivity"
            android:label="@string/title_activity_coupon_sell_history" >
        </activity>
        <!-- 友盟推送 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.dudu.duduhelper.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push" >
            <intent-filter>
                <action android:name="com.dudu.duduhelper.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.dudu.duduhelper.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action" />
            </intent-filter>
        </service>
        <!-- If you donot want to use the standard notification bar in SDK, you can define IntentService instead to handle message. -->


        <!--
        <service
            android:name="com.umeng.message.UmengDownloadResourceService"
            android:exported="false" />
        <service
            android:name="com.umeng.message.local.UmengLocalNotificationService"
            android:exported="false" />
        -->
        <activity
            android:name="com.dudu.helper3.Activity.DiscountCardActivity.CouponSellDetailActivity"
            android:label="@string/title_activity_coupon_sell_detail" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.EmployeeManageActivity.ShopMemberListActivity"
            android:label="@string/title_activity_member_list" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.EmployeeManageActivity.ShopMemberAddActivity"
            android:label="@string/title_activity_member_add" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.fiveDiscountActivity.DiscountSellActivity"
            android:label="@string/title_activity_discount_sell" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.fiveDiscountActivity.DiscountSellResultActivity"
            android:label="@string/title_activity_discount_sell_result" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.GetMoneyActivity.ShopDiscountScanSucessActivity"
            android:label="@string/title_activity_discount_scan_sucess" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.RedBagActivity.ShopHongBaoDetailActivity"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_hong_bao_detail" >
        </activity>
        <activity android:name="com.dudu.helper3.Activity.RedBagActivity.ShopHongBaoAddActivity"
                  android:windowSoftInputMode="stateUnchanged">
        </activity>
        <activity
            android:name="org.fireking.app.imagelib.widget.ImageBrowserActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.RedBagActivity.ShopHongbaoHistoryListActivity"
            android:label="@string/title_activity_hongbao_history_list" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.RedBagActivity.ShopHongbaoHistoryDetailActivity"
            android:label="@string/title_activity_hongbao_history_detail" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.OrderActivity.ShopOrderActivity"
            android:label="@string/title_activity_shop_order" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.GetMoneyActivity.ShopGetCashCodeActivity"
            android:label="@string/title_activity_shop_get_cash_code" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.CheckSellAcitivty.ShopScanSellActivity"
            android:label="@string/title_activity_shop_scan_sell" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.SummaryActivity.ShopAccountWatchActivity"
            android:label="@string/title_activity_shop_account_watch" >
        </activity>
        <!--<activity-->
        <!--android:name=".ShopSearchBlueToothActivity"-->
        <!--android:label="@string/title_activity_shop_search_blue_tooth" >-->
        <!--</activity>-->
        <activity
            android:name="com.dudu.helper3.Activity.BigBandActivity.ShopProductDetailActivity"
            android:label="" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.MyInfoActivity.ShopSettingActivity"
            android:launchMode="singleTask"
            android:label="@string/title_activity_shop_setting" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.MyInfoActivity.ShopInfoEditActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_activity_shop_info_edit" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.GetMoneyActivity.ShopGetCashhistoryListActivity"
            android:label="@string/title_activity_shop_get_cash" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.MyInfoActivity.ShopBankListActivity"
            android:label="@string/title_activity_shop_bank_list" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.ShopManageActivity.ShopListManagerActivity"
            android:label="@string/title_activity_shop_manager" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.ShopManageActivity.ShopAddActivity"
            android:windowSoftInputMode="stateUnchanged"
            android:label="@string/title_activity_shop_add" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.MessageCentreActivity.MessageCenterListActivity"
            android:label="@string/title_activity_message_center_list" >
        </activity>
        <activity android:name="com.dudu.helper3.Activity.DiscountCardActivity.ShopDiscoutAddActivity"
                  android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.dudu.helper3.Activity.ShopImageViewBrower"
            android:label="@string/title_activity_shop_image_view_brower" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.MyInfoActivity.ShopPasswordEditActivity"
            android:label="@string/title_activity_password_edit" >
        </activity>
        <activity android:name="com.dudu.helper3.Activity.MyInfoActivity.ShopUserBankInfoEditActivity" >
        </activity>
        <activity
            android:name="com.dudu.helper3.Activity.CashHistoryActivity.ShopMoneyRecordListActivity"
            android:label="@string/title_activity_shop_money_record_list" >
        </activity>
        <activity android:name="com.dudu.helper3.Activity.RedBagActivity.CreateRedBagActivity"
                  android:label=".CreateRedBagActivity"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>